################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/zed_Video_Project_V1/.vs/zed_Video_Project_V1/v15/Server/sqlite3
